body{
    background-color: rgb(19, 18, 18);
    color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(25, 27, 35);
    border-bottom: 3px solid white;
    height: 17vh

}
main{
    min-height: 73vh;
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;

}

.logo{
    width: 15em;
}
nav{
    font-size: 1.5em;
    width: 30%;
    display: flex;
    align-items: center;
}
.introductie{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}
footer{
    display: flex;
    border-top: 3px solid white;
    height: 10vh;
    background-color: rgb(25, 27, 35);
    align-items: center;
    justify-content: center;  

}
ul{
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    width: 100%;
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
#status{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    width: 80%;
    margin-left: 10%;
    height: auto;
}

